<p>FAIZA NI BOSS</p>
<style>
    h1{text-align: center;}
    h2{text-align: center;}
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
    }
    p{text-align: center;}

</style>

<h1 style="color:aqua">Faiza</h1> 
<h2> Di Jamin Suci Dan Berkualiti</h2>

<img 
src="assets\PANEL FAIZASHOP-1140x380.jpg" width="600" height="300">

<h1 style="color :mediumblue"> MUAT TURUN E-BOOK ISTIMEWA SECARA PERCUMA. MENAWARKAN BERBAGAI RESIPI MENARIK </h1>
<h1>
<a style="color:red " href="https://drive.google.com/file/d/1VzVfEkJS45OTZepLnzu4liJE_C9Tgu3w/view">MUAT TURUN SEKARANG!</a>
</h1>