<html>
   <head>
      <style>
         table, th, td {
            border: 1px solid black;
         }
      </style>
   </head>

   <tbody>
      <h1> Products</h1>
<table>
            <th>Product Name</th>
            <th>Type</th>
            <th>Product Pack (gram)</th>
           <th>Product Shelf life (Months)</th>
         <!-- <td *ngFor = 'let us of readData'>  -->
            <tr>
            <td style="color :aquamarine"> abc </td>
            
            <!-- <td style="color :aquamarine"> {{us.TypeId}} </td>
            <td style="color :aquamarine"> {{us.ProductPack}} </td>
            <td style="color :aquamarine"> {{us.ProductLife}} </td> -->
            <td>
               <button> delete</button>
         
            </td>
         </tr>
      </table>
 
   </tbody>
</html>