<style>
    h1{text-align: center;}
    h2{text-align: center;}
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
    }
    p{text-align: center;}

</style>

<h1 style="color:aqua">Faiza</h1> 
<h2> Di Jamin Suci Dan Berkualiti</h2>

<img 
src="assets\logo-faiza.webp" width="600" height="300">

<h1 style="color:crimson"> About Faiza</h1>
<p>Syarikat FAIZA was established in 1982, doing retail activities as its core business. In 1992, Syarikat FAIZA being officially incorporated under Syarikat FAIZA Sdn. Bhd (SFSB), went into venture capital with Padiberas Nasional (BERNAS) in 1997.

    In the late 90’s, shoppers began assesing more closely to the processing and other properties of edible products. Thus it was this time that the company was introduced to a unique category of herbal quality rice from the state of Kartanaka, South India. It was the Herbal “Ponni” rice. SFSB immediately recognized the intrinsic benefits rice consumers would derive with “Ponni” rice in their diet. Today, under the brand name Taj Mahal, Ponni rice has been distributed throughout Malaysia.
    
    As a passage of benefit, Taj Mahal has created a tremendous impact in consumer demand of other SFSB rice products such as Basmathi, Fragrant rice, Thai Super Special and Local rice.
    
    The strength of SFSB lies within our energetic and professional driving force with extensive knowledge and experience in respective fields which will make us more than ready to compete in rice business scenario. This is because at SFSB, we never ever compromise on quality. We always look ahead for better techniques and ways to produce, deliver, communicate, promote, service and to sell. We firmly believe that excellence is achieved by passion.</p>
